.button {
  @include button();
}

.button--full + .button--full {
  margin-top: 15px;
}

.button--line + .button--line {
  margin-left: 10px;
}

.buttons-cont {
  div {
    &:nth-child(2) {
      float: right;
    }
  }
}

.button--delete {
  width: auto;
}
