label {
  @include row();
  @extend .small-title;
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
select,
textarea {
  @include row();
  width: 100% !important;
  @extend .h3;
  border: 1px solid $white;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  background: none;
  color: $white;
}

textarea {
  height: 100px;
  line-height: normal;
  padding: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(select.svg);
  background-size: 14px auto;
  background-repeat: no-repeat;
  background-position: 90% center;
}

.form-group {
  @include row();
  margin-bottom: 25px;

  .MuiSwitch-thumb {
    background-image: none;
  }

  .MuiSwitch-track:before {
    background-image: none;
  }

  .MuiTypography-body1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
  }
}

.loginFormContainer {
  margin-top: 50px;
}

.single-user {
  .registrationFormContainer {
    .small-title--white {
      text-align: center;
    }

    .user__image {
      float: none;
      margin: 0 auto;
      margin-top: 20px;
      width: 200px;
      padding-top: 200px;
      border-radius: 50%;
    }

    .button--full {
      margin-bottom: 30px;
    }
  }
}

.contact-popup {
  .button.button--line {
    @include responsive('mobile-h') {
      width: 100%;
      margin: 10px 0;
    }
  }
}

.machine-data__box {
  .MuiSwitch-thumb {
    background-image: none;
  }

  .MuiSwitch-track:before {
    background-image: none;
  }
}
