.dashboard {
  @include content-box();
  @include background();

  &-cont {
    @include row();
    padding-bottom: 30px;
    text-align: center;
    margin-top: 60px;

    .button--line {
      width: auto;
    }
  }

  .user__image {
    float: none;
    display: inline-block;
    width: 112px;
    height: 112px;
  }

  .user__item {
    padding: 0;
    text-align: center;

    &__name {
      @extend .h2;
    }

    &__place {
      color: $primary-color;
    }

    &__description {
      @include row();
      display: block;
      margin-top: 10px;
    }

    &__data {
      @include row();
      padding: 10px 0;
    }

    &__btn {
      display: none;
    }
  }

  &__tabs {
    @include row();
    display: flex;

    @include responsiveto('tablet-h') {
      float: none;
      width: 1024px;
      margin: 0 auto;
    }

    &__item {
      float: left;
      position: relative;
      width: 50%;
      height: 44px;
      line-height: 44px;
      text-align: center;
      /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.1+100 */
      background: -moz-linear-gradient(left, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.15) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.15) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=1 ); /* IE6-9 */
      cursor: pointer;

      svg,
      img {
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        margin-top: -3px;
        margin-right: 5px;
        opacity: 0.3;
      }

      span {
        opacity: 0.3;
      }

      span.new {
        position: absolute;
        width: 20px;
        height: 20px;
        line-height: 20px;
        right: 15px;
        top: 50%;
        background: $primary-color;
        font-size: 12px;
        color: $white;
        opacity: 1;
        border-radius: 10px;
        transform: translate(0,-50%);
      }

      &:hover,
      &.active {
        background: $secondary-color;

        svg,
        span,
        img {
          opacity: 1;
        }
      }
    }
  }

  &__tab {
    @include row();
    padding: 0 20px;
    padding-bottom: 25px;
    display: none;

    @include responsiveto('tablet-h') {
      float: none;
      width: 1024px;
      margin: 0 auto;
    }

    .calendar-cont__add {
      border-top: none;
    }

    &.active {
      display: block;
    }
  }
}

.dashboard.chat {
  padding-top: 60px;

  .contact-btn {
    font-size: 14px;
    padding: 0 10px;
  }

  .messages-cont {
    padding: 0 20px;
  }

  .new-message-cont {
    float: left;
    width: 100%;
    margin-top: 20px;
    padding: 0 20px;

    #newmessage {
      width: calc(100% - 50px);
    }

    .buttons-cont {
      width: 50px;
      float: right;
    }

    .button {
      background: none;
      border: none;
      transform: rotate(180deg);
      height: 40px;
      padding: 0;

      svg {
        margin-top: -10px;
      }
    }
  }
}
