.user {

  &__image {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    .MuiAvatar-colorDefault {
      width: 50px;
      height: 50px;
    }

    img {
      object-fit: cover;
    }
  }

  &__item {
    @include row();
    padding: 20px 0;

    &__data {
      float: left;
      width: calc(100% - 85px);
      padding-left: 15px;

      * {
        color: $white;
      }
    }

    &__description {
      display: none;
    }

    &__btn {
      float: right;
      width: 35px;

      span {
        @include row();
        height: 35px;
        position: relative;

        svg {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);
        }

        &:hover {

          svg {
            g {
              fill: $primary-color;
            }
          }
        }
      }
    }
  }
}

.search .search-cont {
  position: relative;
  z-index: 4000;
}
