.machine-data {
  @include content-box();
  @include background();

  .machines__list {
    padding-bottom: 0;
  }

  &-cont {
    margin-top: 60px;

    @include responsiveto('tablet-h') {
      width: 1024px;
      float: none;
      margin: 0 auto;
      margin-top: 60px;
    }
  }

  &__box {
    @include row();
    padding: 25px;
    border-top: 1px solid #565656;
  }

  &__model {
    float: left;
    width: calc(100% - 90px);
  }

  &__year {
    float: right;
    width: 80px;
  }

  &__add-feature {
    @include row();
    padding-bottom: 20px;

    input {
      float: left;
      width: calc(100% - 40px) !important;
    }

    a {
      float: left;
      width: 40px;
      height: 40px;
      position: relative;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }

  .success {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  &__feature {
    @include row();
    border-top: 1px solid #565656;
    padding: 15px 0;

    &:nth-last-child(1) {
      padding-bottom: 0;
    }
  }

  .add-feature {
    float: right;
    margin-top: 10px;
  }

  .ubicacion--actual {
    .css-2b097c-container {
      margin-top: 10px;
    }
  }
}

.order-container {
  .small-title {
    float: left;
    width: 120px;
    line-height: 40px;
  }

  .orderby--container {
    float: right;
    width: 177px;
    max-width: calc(100% - 120px);

    select {
      border: none;
      text-transform: none;
      @extend .h4;
    }
  }
}

.list--container {
  .machine__item__data {
    width: calc(100% - 190px);
  }

  .machine__item {
    border-top: 1px solid #565656;
    border-bottom: none;
    padding-top: 0
  }
  .machine__icon,
  .machine__item__data {
    margin-top: 20px;
  }
}

.machine-data,
.search-cont {
  .css-yk16xz-control {
    border: 1px solid $white;
    background: none;
    border-radius: 0;
    line-height: 40px;
    color: $white;
  }

  .css-1pahdxg-control {
    background: none !important;
    color: $white !important;
  }

  .css-1hwfws3,
  .css-1g6gooi {
    height: 38px;
    line-height: 1;
    margin: 0;
    padding: 0 5px;

    input {
      color: $white !important;
    }
  }

  .css-b8ldur-Input {
    height: 40px;
    line-height: 40px;
    color: $white;
  }

  .css-1wa3eu0-placeholder,
  .css-1uccc91-singleValue {
    color: $white;
  }

  .css-1okebmr-indicatorSeparator {
    display: none;
  }

  .css-1n7v3ny-option {
    color: #000 !important;
  }
}


.search-cont {
  .css-26l3qy-menu {
    top: auto;
    bottom: 100%;
  }
}

.machine-data__add-feature {
  input {
    color: #000;
  }
}

/* esto lo puse por ahora. borralo o adaptalo porfa */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 8px 12px;
  width: 100%;
  text-align: center;

  .btn-upload {
    position: relative;

    + span {
      padding: 5px;
      font-weight: normal;
    }
  }

  input[type=file] {
      font-size: 42px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
  }
}
