.machine-data {
  @include content-box();
  @include background();

  .machines__list {
    padding-bottom: 0;
  }

  &-cont {
    margin-top: 60px;
  }

  &__box {
    @include row();
    padding: 25px;
    border-top: 1px solid #565656;
  }

  &__model {
    float: left;
    width: calc(100% - 90px);
  }

  &__year {
    float: right;
    width: 80px;
  }

  &__add-feature {
    @include row();
    padding-bottom: 20px;

    input {
      float: left;
      width: calc(100% - 40px) !important;
    }

    a {
      float: left;
      width: 40px;
      height: 40px;
      position: relative;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }

  .success {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  &__feature {
    @include row();
    border-top: 1px solid #565656;
    padding: 15px 0;

    &:nth-last-child(1) {
      padding-bottom: 0;
    }
  }

  .css-yk16xz-control {
    border: 1px solid $white;
    background: none;
    border-radius: 0;
    line-height: 40px;
    color: $white;
  }

  .css-1pahdxg-control {
    color: #000 !important;
  }

  .css-b8ldur-Input {
    height: 40px;
    line-height: 40px;
    color: $white;
  }

  .css-1wa3eu0-placeholder,
  .css-1uccc91-singleValue {
    color: $white;
  }

  .css-1okebmr-indicatorSeparator {
    display: none;
  }

  .add-feature {
    float: right;
    margin-top: 10px;
  }

  .ubicacion--actual {
    .css-2b097c-container {
      margin-top: 10px;
    }
  }
}
