.content {
  @include row();
  min-height: 100vh;
  position: relative;
}

.map {
  @include row();
  position: absolute;

  &--container {
    width: 100%;
    height: 100vh;
  }

  .check {
    position: absolute;
    top: 100px;
  }
}