.header {
  @include row();
  padding: 25px 0;
  position: absolute;
  top: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  z-index: 2;
  text-align: center;;

  &--boxes {
    position: static;
  }

  .settings {
    float: right;
  }

  .button--small {
    float: right;
  }

  .back-arrow {
    float: left;
  }

  .text-icon {
    float: right;
    position: relative;

    .new {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $primary-color;
      transform: translate(50%,-50%);
    }
  }

  .search-btn {
    display: inline-block;
  }
}
