.header {
  @include row();
  padding: 25px 0;
  position: absolute;
  top: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  z-index: 2;
  text-align: center;;

  &--boxes {
    position: static;
  }

  .settings {
    float: right;
  }

  .button--small {
    float: right;
  }

  .back-arrow {
    float: left;
    margin-left: 45px;
    margin-top: 3px;
  }

  .text-icon {
    float: right;
    position: relative;

    .new {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $primary-color;
      transform: translate(50%,-50%);
    }
  }

  .search-btn {
    display: inline-block;
  }
}

.openFilters {
  position: absolute;
  left: 50%;
  top: 18px;
  z-index: 100;
  transform: translate(-50%, 0);

  svg {
    width: 40px;
  }
}

.mesasge__btn_header {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 100;
}

.switch--container {
  position: absolute;
  top: 60px;
  right: 20px;
  z-index: 100;
}

.MuiButton-text {
  position: absolute !important;
  top: 22px;
  left: 10px;
  z-index: 100;
}

.MuiSvgIcon-colorPrimary {
  color: $white !important;
}

.MuiPaper-root {
  width: 320px;
  @include background();
}

.MuiList-padding {
  padding: 0 !important;
}

.MuiListItem-button {
  padding: 10px 30px !important;
  color: $white!important;
  font-weight: 400;
  text-transform: uppercase;

  span {
    font-size: 14px !important;
  }

  &:hover {
    background: $primary-color !important;
  }
}

.MuiSwitch-colorSecondary.Mui-checked,
.MuiSwitch-thumb {
  color: $primary-color !important;
}

.MuiSwitch-thumb {
  color: $primary-color !important;
  background-image: url(list-white.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.Mui-checked {
  .MuiSwitch-thumb {
    background-image: url(pin-white.svg);
    opacity: 1;
  }
}

.MuiSwitch-root {
  zoom: 1.2;
}

.MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track,
.MuiSwitch-track {
  background-color: #D8D8D8 !important;
  position: relative;
  opacity: 1 !important;

  &:before,
  &:after {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    content: '';
    z-index: 2;
  }

  &:before {
    background-image: url(pin.svg);
    right: 0;
  }
  &:after {
    background-image: url(list.svg);
    left: 0;
  }
}

.list--container {
  padding: 30px;
  margin-top: 70px;
}

.results--container {
  @include responsiveto('tablet-h') {
    text-align: center;
  }

}

.list--container {
  @include responsiveto('tablet-h') {
    display: inline-block;
    width: 1024px;
    text-align: left;
  }
}

.MuiSvgIcon-root {
  zoom: 1.2 !important;
}

.MuiBadge-colorPrimary {
  background-color: $primary-color !important;
}

/*.content--list {
  @include background();
}*/

.loading--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
}
